<!--<mat-tab-group class="menu-styling">-->
<!--  <mat-tab label="NEW IN"> NEW IN </mat-tab>-->
<!--  <mat-tab label="SALE"> SALE </mat-tab>-->
<!--  <mat-tab label="CLOTHING"> CLOTHING </mat-tab>-->
<!--  <mat-tab label="MOLLY.MAE"> MOLLY.MAE </mat-tab>-->
<!--  <mat-tab label="SHOP BY FIGURE<"> </mat-tab>-->
<!--  <mat-tab label="DRESSES"> DRESSES </mat-tab>-->
<!--  <mat-tab label="TOPS"> TOPS </mat-tab>-->
<!--  <mat-tab label="SHOES"> SHOES </mat-tab>-->
<!--  <mat-tab label="ACCESSORIES"> ACCESSORIES </mat-tab>-->
<!--  <mat-tab label="HOME"> HOME </mat-tab>-->
<!--  <mat-tab label="BEAUTY"> BEAUTY </mat-tab>-->
<!--  <mat-tab label="THE EDIT"> THE EDIT </mat-tab>-->
<!--</mat-tab-group>-->

<div>Filling the text on hover</div>
<br>
<p>PRETTYLITTLETHING</p>
<br>
<section>
  <nav>
    <ul class="menuItems">
      <li><a href='#' data-item='NEW IN'>NEW IN</a></li>
      <li><a href='#' data-item='SALE'>SALE</a></li>
      <li><a href='#' data-item='CLOTHING'>CLOTHING</a></li>
      <li><a href='#' data-item='MOLLY.MAE'>MOLLY.MAE</a></li>
      <li><a href='#' data-item='SHOP BY FIGURE'>SHOP BY FIGURE</a></li>
      <li><a href='#' data-item='DRESSES'>DRESSES</a></li>
      <li><a href='#' data-item='TOPS'>TOPS</a></li>
      <li><a href='#' data-item='SHOES'>SHOES</a></li>
      <li><a href='#' data-item='ACCESSORIES'>ACCESSORIES</a></li>
      <li><a href='#' data-item='HOME'>HOME</a></li>
      <li><a href='#' data-item='BEAUTY'>BEAUTY</a></li>
      <li><a href='#' data-item='THE EDIT'>THE EDIT</a></li>
    </ul>
  </nav>

</section>
<mat-card *ngIf="productDetails$ | async as item">
  <mat-card-title>Product Details</mat-card-title>
  <mat-card-title>{{item.title}}</mat-card-title>
  <mat-card-content>
    {{ item.description }}
  </mat-card-content>
</mat-card>
