<h1>Crypto list</h1>
<div>
  <mat-chip-list>
    <mat-chip *ngFor="let crypto of selectedCrypto.controls">{{crypto.value}} </mat-chip>
  </mat-chip-list>
</div>
<br>

<mat-form-field appearance="fill">
  <mat-label>Select crypto</mat-label>
  <input type="text"
         matInput
         [formControl]="cryptoFilter"
         [matAutocomplete]="selectedCryptoAutocomplete">
  <mat-autocomplete #selectedCryptoAutocomplete="matAutocomplete" (optionSelected)="onSelected($event.option.value)">
    <mat-option *ngFor="let item of crypto$ | async" [value]="item.symbol">
      {{item.symbol}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
