<form [formGroup]="commentsForm" (ngSubmit)="onCommentsFormSubmitted(commentsForm)">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Comment</mat-label>
      <input matInput type="text" placeholder="Comment" formControlName="comment" required>
      <mat-error *ngIf="commentsForm.get('comment')!.invalid">Your comment must contain at least 4 words!</mat-error>
    </mat-form-field>
  </div>
<!--  <div>-->
<!--    <button type="submit" mat-raised-button color="primary" [disabled]="!commentsForm.valid">Submit</button>-->
<!--  </div>-->
</form>
